body, html {
    /* The image used */
    background-image: url("/images/interview.jpg");

    /* Center and scale the image nicely */
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
}

.navbar-wrapper {
    position: fixed;
    top: 0;
    right: 0;
    width: 100% !important;
    left: 0;
    z-index: 20;
    background-color: white;
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    opacity: 1;
    background-color: rgba(0,0,0,0);
    text-align: center;
}

.bigpadding {
    margin-right: 5px;
}